<mat-card class="flash-card">
  <div class="card-header">
    <div class="word">
      <mat-icon>menu_book</mat-icon>
      <div class="word-info">
        <h2>{{ card().word }}</h2>

        <div class="word-type">
          {{ card().type }}
        </div>
      </div>
    </div>

    <div class="icons">
      <button
        mat-icon-button
        (click)="toggleFavorite(); $event.stopPropagation()"
      >
        @if (isFavorite()) {
          <mat-icon>favorite</mat-icon>
        } @else {
          <mat-icon>favorite_border</mat-icon>
        }
      </button>

      <button
        mat-icon-button
        (click)="addToReview(); $event.stopPropagation()"
        [disabled]="isInReview()"
        [matTooltip]="isInReview() ? 'Already in Review' : 'Add to Review'"
      >
        @if (isInReview()) {
          <mat-icon>psychology_alt</mat-icon>
        } @else {
          <mat-icon>psychology</mat-icon>
        }
      </button>
    </div>
  </div>

  <div class="flip-container" (click)="flipCard()">
    <div class="flip-card" [class.flipped]="isFlipped">
      <!-- FRONT -->

      <div class="card-face card-front">
        <p class="hint">Tap to reveal meaning</p>
      </div>

      <!-- BACK -->

      <div class="card-face card-back">
        <div class="meaning">
          <span>Meaning</span>

          <h3>{{ card().meaning }}</h3>
        </div>

        <div class="example">
          <span>Example</span>

          <p>{{ card().example }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <span class="level">
      {{ card().level }}
    </span>

    <span class="category">
      {{ card().category }}
    </span>
  </div>
</mat-card>
