<mat-card class="flash-card">
  <div class="card-header">
    <div class="word">
      <mat-icon>menu_book</mat-icon>
      <h2>{{ card().word }}</h2>
    </div>

    <button
      mat-icon-button
      (click)="toggleFavorite(); $event.stopPropagation()"
    >
      @if (isFavorite()) {
        <mat-icon>favorite</mat-icon>
      } @else {
        <mat-icon>favorite_border</mat-icon>
      }
    </button>
  </div>

  <div class="flip-container" (click)="flipCard()">
    <div class="flip-card" [class.flipped]="isFlipped">
      <!-- FRONT -->

      <div class="card-face card-front">
        <p class="hint">Tap to reveal meaning</p>
      </div>

      <!-- BACK -->

      <div class="card-face card-back">
        <div class="meaning">
          <span>Meaning</span>

          <h3>{{ card().meaning }}</h3>
        </div>

        <div class="example">
          <span>Example</span>

          <p>{{ card().example }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <span class="level">
      {{ card().level }}
    </span>

    <span class="category">
      {{ card().category }}
    </span>
  </div>
</mat-card>
