<mat-toolbar class="app-toolbar">
  <a class="toolbar-title" routerLink="/">
    <img src="/logo.png" alt="Flashcard Learning" />

    <span>English Flashcards</span>
  </a>

  <span class="spacer"></span>

  <div class="toolbar-actions">
    <button
      mat-icon-button
      matTooltip="Favorite Words"
      routerLink="/favorites"
      routerLinkActive="active"
    >
      <mat-icon>favorite</mat-icon>
    </button>

    <button
      mat-icon-button
      routerLink="/review"
      routerLinkActive="active"
      matTooltip="Review"
    >
      <mat-icon>psychology</mat-icon>
    </button>

    <button
      mat-icon-button
      routerLink="/quiz"
      routerLinkActive="active"
      matTooltip="Quiz"
    >
      <mat-icon>quiz</mat-icon>
    </button>

    <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle theme">
      @if (themeService.currentTheme() === "light") {
        <mat-icon>dark_mode</mat-icon>
      } @else {
        <mat-icon>light_mode</mat-icon>
      }
    </button>
  </div>
</mat-toolbar>
